@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;

}

html {
    font-size: 16px;
}

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--cor-clara);
}

/* CSS Reset em alguns */
body,
h1,
h2,
p,
figure,
.menu {
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1, 5rem;
}

h1 a {
    color: var(--cor-clara);
    background-color: var(--cor-escura);
    padding: 0.3rem 1rem;
    border-radius: 4px;

}

a {
    text-decoration: none;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Formtação da palavra Menu */
nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover,
nav h2 a:focus, .menu a:hover,
.menu a:focus {
    background-color: var(--cor-intermediaria);
}

.menu {
    list-style: none;
    display: none;
}

/* Regra para formata os links contidos na lista/menu  */

.menu a {

    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;


}

.menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-clara);

    position: absolute;
    left: 0;
    right: 0;

}

.destaque {
    height: 500px;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}